/*---search-place-start---*/

/*---main body background color---*/
*{
  line-height: 15px;
}
/*---main body row margin & padding---*/
.row{
  margin-right: 0;
  margin-left: 0;
}
/*---main search place color & padding---*/
.search-place-start{
  background-color: #000;
  padding: .7% 0 0 0;
}

/*---search-place-start-left-section-start---*/
.search-place-start .left-section .side-logo{
  width: 50%;
}
/*---brand img width---*/
.search-place-start .left-section .side-logo img{
  width: 100%;
}
/*---brand img hover border---*/
.search-place-start .left-section .side-logo:hover{
  border: 1px solid #fff;
  }
/*---search left section col padding---*/
.search-place-start .left-section .col-md-2,.col-xl-2,.col-xxl-2{
  padding: 0;
}
/*---delevary location padding---*/
.search-place-start .delevary-location{
  padding: 2.3% 5px;
}
/*---delevary location hover border---*/
.search-place-start .delevary-location:hover{
  border: 1px solid #fff;
}
/*---delevary location span color & font weight---*/
.search-place-start .delevary-location span{
  color: #fff;
  font-weight: 600;
}
/*---delevary location a text decoretion---*/
.search-place-start .delevary-location a{
  text-decoration: none;
}
/*---delevary location a hover text decoretion---*/
.search-place-start .delevary-location a:hover{
  text-decoration: none;
}
/*---delevary location icon color---*/
.search-place-start .delevary-location .bi-geo-alt{
  color: #fff;
}
/*---delevary to padding font size color---*/
.search-place-start .delevary-location .delevier-to{
  padding-left: 17%;
  font-size: 13px;
  color: #CCCCCC;
}


/*---media-queries-start---*/
/*---Responsive for extra small device---*/
@media (min-width: 220) and (max-width: 361px){
  .search-place-start .left-section .side-logo img{
    width: 50%;
    margin-top: 2.5%;
  }
}
/*---Responsive for small device---*/
@media (min-width: 361px) and (max-width: 576px){
  .search-place-start .left-section .side-logo img{
    width: 50%;
    margin-top: 2.5%;
  }
}
/*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
  .search-place-start .delevary-location{
    padding-right: 4%;
  }
      .search-place-start .left-section .side-logo img{
        width: 50%;
      }
}

/*---Responsive for md device---*/
@media (min-width: 768px) and (max-width: 1114px){
    .search-place-start .delevary-location{
      margin-right: 2.5%;
      margin-top: 2.5%;
    }
    .search-place-start .delevary-location:hover{
      border: none;
    }
    .search-place-start .left-section .side-logo img{
      width: 50%;
    }
    .search-place-start .left-section .side-logo:hover{
      border: none;
    }
}
/*---Responsive for md device---*/
@media (min-width: 1114px) and (max-width: 1280px){
    .search-place-start .delevary-location{
      padding: 0;
    }
}
/*---media-queries-close---*/
/*---search-place-start-left-section-close---*/

/*---search-place-start-midd-section-start---*/
.search-place-start .midd-section .catagory{
  width: 7%;
  padding-left: 1.5%;
  font-size: 12px;
  border-radius: 10% 0 0 10%;
  border: 0;
  cursor: pointer;
}
.search-place-start .midd-section .catagoryL:hover{
  background-color: #D4D4D4;
}
.search-place-start .midd-section .form-control{
  border-radius: 0;
  height: 40px;
  border: none;
  border-left: 2px solid #ddd;
}
.search-place-start .midd-section .btn-outline-success{
  border: 0;
  border-radius: 0 10% 10% 0;
  background-color: #F99828;
  color: #000;
}
.search-place-start .midd-section .btn-outline-success:hover{
  background-color: #E18924;
  color: #fff;
}
.search-place-start .midd-section .btn-outline-success .bi-search{
  font-size: 20px;
  font-weight: 600;
}
/*---media-queries-start---*/
/*---Responsive for extra small---*/
@media (min-width: 160px) and (max-width: 360px){
  .search-place-start .midd-section{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
    text-align: center;
  }
}
/*---Responsive for extra small device---*/
@media (min-width: 361px) and (max-width: 576px){
    .search-place-start .midd-section{
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      width: 100%;
      text-align: center;
    }
 }
 /*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
  .search-place-start .midd-section{
    width: 100%;
    text-align: center;
   }
 }
 /*---Responsive for md device---*/
@media (min-width: 768px) and (max-width: 1114px){
  .search-place-start .midd-section{
    width: 100%;
    text-align: center;
   }
 }
/*---media-queries-close---*/
/*---search-place-start-midd-section-close---*/

/*---search-right-option-start---*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  padding: 3% 1%;
}
.dropdown:hover{
  border: 1px solid #fff;
}
/*---dropdown-border-make-tooltip---*/
.dropdown-border{
  padding: 10% 10%;
  background-color: #F1F1F1;
  rotate: 45deg;
  width: 10%;
  margin-left: 40%;
  margin-top: -3%;
  overflow: hidden;
}
.bi-translate{
  color: #fff;
}
/*---Dropdown-Button---*/
.dropbtn {
  border: none;
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: #fff;
  text-align: left;
  padding-top: 0;
}
.dropbtn span{
  font-weight: 700;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-top: 15%;
  margin-left: -5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/*---Returns-orders---*/
.Returns-orders{
  display: inline-block;
  padding: 2% 2%;
  font-size: 15px;
}
.Returns-orders:hover{
  border: 1px solid #fff;
}
.Returns-orders span{
  font-weight: 700;
}

/*---Returns-orders-&-cart-hover-efect-start---*/
.Returns-orders a,
.Cart a{
  color: #fff;
}
.Returns-orders a,
.Cart a:hover{
  text-decoration: none;
}
/*---Returns-orders-&-cart-hover-efect-close---*/

/*---cart---*/
.bi-caret-down-fill{
  font-size: 10px;
}
.Cart{
  display: inline-block;
  padding: 4% 1%;
  font-size: 15px;
  margin-left: 5%;
}
.Cart:hover{
  border: 1px solid #fff;
  
}
.Cart span{
  font-weight: 700;
}


/*---media-queries-start---*/
/*---Responsive for extra small device---*/
@media (min-width: 220px) and (max-width: 576px){
  .search-place-start .search-right-option{
    padding: 2.5% 0;
    text-align: center;
  }
  .search-place-start .search-right-option .dropdown-content{
    margin-left: -9%;
  }
  .dropdown-border{
    margin-left: 4%;
  }
}
/*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
  .search-place-start .search-right-option{
    text-align: center;
  }
  .search-place-start .search-right-option .dropdown-content{
    margin-left: -9%;
  }
}
/*---Responsive for md device---*/
@media (min-width: 768px) and (max-width: 1114px){
  .search-place-start .search-right-option{
    text-align: center;
  }
  .search-place-start .search-right-option .dropdown-content{
    margin-left: -9%;
  }
}
/*---media-queries-close---*/
/*---search-right-option-close---*/
/*---search-place-close---*/

/*---navbar-start---*/
.navbar{
  padding: 0 5px;
  margin: 0;
}
.navbar a{
  color: #fff;
  font-size: 15px;
  padding: 10px;
}
.navbar a:hover{
  border: 1px solid #fff;
  margin: 0;
}
.navbar .navbar-brand .bi-list{
  width: 80%;
}
.navbar .container-fluid{
  padding-left: 0;
}
@media(min-width: 360px) and (max-width: 428px){
  .navbar-nav .nav-link{
    padding-left: 10px;
  }
}
@media(min-width: 768px) and (max-width: 884px){
  .navbar-nav .nav-link{
    padding-left: 10px;
  }
}
/*---navbar-close---*/

/*---carousel-start---*/
.carousel-item img{
  width: 100%;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    background-color: #50F708; 
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
 }


/*---media-queries-start---*/
/*---Responsive for extra small device---*/
@media (min-width: 220px) and (max-width: 576px){
  .carousel-item img{
    width: 100%;
    height: 30vh;
   }
 }
/*---Responsive for small device---*/ 
@media (min-width: 576px) and (max-width: 768px){
  .carousel-item img{
    width: 100%;
    height: 50vh;
   }
 }
/*---media-queries-close---*/
/*---carousel-close---*/

/*---wrapper-start---*/
.wrapper{
  position: relative;
  margin-top: -15%;
  padding-bottom: 5%;
  z-index: 1;
  opacity: %;
  width: 100%; 
  background: linear-gradient(180deg, #F0F0F4, #dfe);
  background-size: 100%;
}
.frist-service{
  margin: 0 ;
  background-color: #fff;
  padding-bottom: 10%;
}

.frist-service h4{
  font-size: 20px;
  font-weight: 700;
  padding-top: 4%;
  padding-left: 3%;
  padding-bottom: 3%;
}
.frist-service span{
  font-size: 12px;
}
.frist-service .see-more{
  padding-left: 3%;
  margin-top: 18%;
  padding-bottom: 8%;
}
.frist-service .see-more a{
  color: #02947D;
}
.wrapper img{
  width: 100%;
  padding-bottom: 10%;
}
.service-product{
  background-color: #FFFFFF;
  padding-bottom: 14%;
}
.service-product h4{
  font-size: 20px;
  font-weight: 700;
  padding-top: 4%;
  padding-left: 3%;
  padding-bottom: 2%;
}
.service-product img{
  padding: 3%;
}
.service-product .see-more{
  padding-left: 3%;
  margin-top: 10%;
}
.service-product .see-more a{
  color: #02947D;
}


/*---media-queries-start---*/
/*---Responsive for extra small device---*/
@media (min-width: 220px) and (max-width: 576px){
  .wrapper .frist-service{
    margin-bottom: 2%;
    padding-bottom: 0;
  }
  .wrapper .service-product{
    margin: 1% 0;
  }
}
/*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
  .wrapper .frist-service{
    margin-bottom: 2%;
    padding-bottom: 0;
  }
  .wrapper .service-product{
    margin: 1% 0;
  }
}
/*---media-queries-close---*/
/*---wrapper-close---*/

/*---service-wrap-start---*/
.service-wrap{
  background: linear-gradient(180deg, #dfe, #F0F0F4);
  padding-bottom: 5%;
}
.service-wrap p{
  margin: 0 1.3%;
  background-color: #fff;
  padding: 1.5% 1%;
  font-size: 20px;
  font-weight: 700;
}
.media-scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  gap: 5%;
  overflow-x: auto;
  justify-content: center;
  padding: 5%;
  margin: 1.3%;
  background-color: #fff;
  overscroll-behavior-inline: contain;
}
.media-element img{
  padding-left: 25%;
}
/*---Responsive for extra small device---*/
@media (min-width: 220px) and (max-width: 576px){
.service-wrap p{
  padding: 3% 1%;
 }  
.media-scroller{
  grid-auto-columns: 100%;
 }
.media-element{
  padding-left: 15%;
}
}
/*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
.service-wrap p{
  padding: 3% 1%;
 }  
.media-scroller{
  grid-auto-columns: 33.33%;
  gap: 10%;
 }
}
/*---Responsive for md device---*/
@media (min-width: 768px) and (max-width: 1114px){
.service-wrap p{
  padding: 3% 1%;
 }  
.media-scroller{
  grid-auto-columns: 30%;
  gap: 5%;
 }  
}
/*---service-wrap-close---*/
/*---service-wrapper-start---*/
.service-wrapper{
  width: 100%; 
  background: linear-gradient(180deg, #F0F0F4, #dfe);
  background-size: 100%;
  padding-bottom: 5%;
}
.service-wrapper img{
  width: 100%;
  height: 100%;
}
.service-product .btn{
  margin-left: 2.5%;
}


/*---media-queries-start---*/
/*---Responsive for extra small device---*/
@media (min-width: 220px) and (max-width: 576px){
  .service-wrapper .service-product{
    margin: 1% 0;
  }
}
/*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
  .service-wrapper .service-product{
    margin: 1% 0;
  }
}
/*---media-queries-close---*/
/*---service-wrapper-close---*/

/*---footer-start---*/
.footer{
  padding: 5% 0;
  background-color: #232F3E;
}
.footer a{
  display: block;
  color: #999999;
  padding: 2% 0;
}
.footer h6{
  font-weight: 700;
  color: #fff;
  padding: 2.5% 0;
}
.logo-language-tk-country{
  margin-top: 5%;
  border-top: .5px solid #3A4553;
  text-align: center;
}
.logo-language-tk-country 
.company-logo,
.languge-select,
.currency-select,
.country-select{
  display: inline-block;
}

.company-logo img{
  width: 100px;
}
.languge-select .dropdown .dropbtn{
  padding: 10px 20px;
  display: inline-flex;
}
.languge-select .dropdown .dropbtn .bi-globe2{
  padding-right: 10%;
}
.languge-select .dropdown .dropdown-content{
  margin-left: 0;
  padding-top: 0;
}
.country-select:hover{
  border: 1px solid #fff;
}
.currency-select:hover{
  border: 1px solid #fff;
}
.currency-select a,
.country-select a
{
  padding: 15px 20px;
}
.currency-select a,
.country-select a:hover{
  text-decoration: none;
}
.currency-select{
  margin-top: 1%;
  position: relative;
}
.country-select img{
  width: 20px;
}


/*---media-queries-start---*/
/*---Responsive for extra small device---*/
@media (min-width: 220px) and (max-width: 576px){
  .footer .container{
    padding-left: 0;
    margin-left: 0;
  }
}
/*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
  .footer .container{
    padding-left: 0;
    margin-left: 0;
  }
}
/*---media-queries-close---*/
/*---footer-close---*/

/*---fotter-secend-start---*/
.fotter-secend{
  padding-left: 0;
  padding-right: 0;
  padding-top: 5%;
  background-color: #131A22;
}
.fotter-secend h7{
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding: 1% 0;
}
.fotter-secend a{
  font-size: 13px;
  display: block;
  color: #999999;
  padding: 2% 0;
}
.copyright{
  color: #fff;
  padding-top: 5%;
  padding-bottom: 1%;
}
.copyright span{
  text-align: center;
  display: block;
  margin: 0 auto;
}
/*---fotter-secend-close---*/

/*---scroll-btn-start---*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f9d;
  color: white;
  cursor: pointer;
  padding: .5% .9%;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


/*---media-queries-start---*/
/*---Responsive for extra small---*/
@media (min-width: 220px) and (max-width: 576px){
  #myBtn{
    right: 5%;
    padding: .5% 2%;
  }
}
/*---Responsive for small device---*/
@media (min-width: 576px) and (max-width: 768px){
  #myBtn{
    right: 5%;
    padding: .5% 2%;
  }
/*---media-queries-close---*/
/*---scroll-btn-close---*/